server {
	listen 80;
	server_name benua.grigoriev.me;
	
	access_log /var/log/nginx/benua.access.log;
	error_log  /var/log/nginx/benua.error.log;
	
	root /var/www/benua.grigoriev.me/www;
	index index.html;
	
	location = / { }
	location = /autobus.html { }
	location = /index.html { }
	location = /bus.png { }

	location / {
		return 403;
	}
}
